/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #e7eeff;
  margin-bottom: 60px;
  /* Margin bottom by footer height */
}

header {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main {
  width: 100%;
  height: 100%;
  z-index: 1;
}

main .container {
  z-index: 999;
  width: 75%;
  padding: 0 15px;
  margin-top: -12%;
}

main .row {
  display: flex;
  justify-content: center;
}

main .bg {
  overflow: hidden;
  display: flex;
  /* 1 */
  align-items: flex-start;
  /* 2 */
  justify-content: space-between;
  /* 3 */
  text-align: center;
  padding: 1rem 0;
}

.dots_1 {
  width: 100px;
}

.dots_2 {
  width: 80px;
  margin-top: 110px;
}

.box-menu {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 5% 0;
  z-index: 1;
  height: 80%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.hvr-bounce-in a {
  text-decoration: none;
  color: #000000;
}

.box-menu img {
  width: 40%;
}

.box-menu span {
  font-family: "Roboto", sans-serif;
  padding: 5px;
  display: block;
  font-size: 100%;
  margin-top: 5px;
}

.control {
  display: none;
}

.footer {
  z-index: -9999;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 320px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-image: url("../img/awan.png"),
    /*scane 1 */ url("../img/bentor4.png"), url("../img/bentor5.png"),
    url("../img/mobil2.png"), url("../img/bentor3.png"), url("../img/bus.png"),
    /*scane 1 */ /*scane 2 */ url("../img/bentor2.png"), url("../img/motor.png"),
    /*scane 2 */ url("../img/mobil2.png"), url("../img/bentor.png"),
    url("../img/bg_kota.png");
  background-position: 0px 0px, /*scane 1 */ 90% 98%, 90% 98%, 80% 98%, -60% 85%,
    -40% 90%, /*scane 1 */ /*scane 2 */ -30% 98%, 80% 85%, /*scane 2 */ 70% 85%,
    -110% 85%, 0px 0px;
  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x;
  animation: animate 70s linear infinite;
}

@keyframes animate {
  from {
    background-position: 0px 10%, /*scane 1 */ 110% 98%, 120% 98%, 130% 98%,
      -50% 90%, -20% 90%, /*scane 1 */ /*scane 2 */ -430% 89%, 400% 98%,
      /*scane 2 */ 620% 98%, -700% 95%, 0px 100%;
  }

  to {
    background-position: 3000px 10%, /*scane 1 */ -600% 85%, -600% 85%,
      -400% 85%, 420% 85%, 600% 90%, /*scane 1 */ /*scane 2 */ 600% 89%,
      -450% 98%, /*scane 2 */ -500% 85%, 800% 85%, 3000px 100%;
  }
}


.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
 
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-title{
  text-align: center;
  font-size: 2em;
}

/*responsive mobile */
@media only screen and (max-width: 415px) {
  body {
    overflow-x: hidden;
  }

  .bn-breaking-news{
    margin-bottom: 5%;
  }

  main .bg {
    display: flex;
    justify-items: flex-start;
  }

  main .bg .dots_1 {
    width: -20px;
    margin-top: 20px;
  }

  main .bg .dots_2 {
    width: 20%;
  }

  main .container {
    overflow: hidden;
    margin-top:-50%;
    width: 100vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  }

  .control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .control #slideRight,
  #slideLeft {
    color: #000000;
    background: rgba(255, 255, 255, 0.5);
  }

  main .box-menu {
    width: 100px;
  }

  main .box-menu span {
    font-size: 70%;
  }

  #slideLeft {
    padding: 15px;
  }

  #slideRight {
    padding: 15px;
  }

  .logo {
    width: 50%;
  }

  .footer {
    z-index: -9999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-image: url("../img/awan_mobile.png"), url("../img/bentor4_m.png"),
      url("../img/bgkota_mobile.png");
    background-repeat: repeat-x, no-repeat, repeat-x;
  }
}
